/*body {
    background-color: #fff;
    min-height: 100vh;
    font: normal 16px sans-serif;
}*/



.gallery-container{
    width: 90%;
    margin: auto;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
	background-color: transparent;
}

.tz-gallery img {
    /*border-radius: 2px;*/
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    font-family: 'PT Sans', sans-serif;
}

.tz-gallery .caption p {
    font-size: 16px;
    color: #7b7d7d;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    width: 500;
    height: 400;
    opacity: 0;
    #background-color: rgba(46, 132, 206, 0.7);
    background-color: rgba(224, 224, 235, 0.6);
    content: '';
    transition: 0.4s;
	margin-left: 12px;

}




