html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.section-heading {
  color: #424b54;
  text-align: center;
  margin-bottom: 24px;
  font-family: Cinzel Decorative Bold;
  font-weight: 700;
  font-size: 2.2rem;
}

/**NEW GRID------------------------------------*/
.title-arch {
  text-align: center;
  margin: 50px 0;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.project {
  /*width: 100%;*/
  height: 500px;
  background-image: url("/images/portfolio-after.png");
  background-size: cover;
  background-position: center;
  padding: 0 !important;
  float: left;
}

.project-2 {
  background-image: url("/images/portfolio-zomb.png");
}

.project-3 {
  background-image: url("/images/lookaway.png");
}

.project-4 {
  background-image: url("/images/portfolio-cemented.png");
}

.project-5 {
  background-image: url("/images/portfolio-pc-cat.png");
}

.project-6 {
  background-image: url("/images/portfolio-survival-night.png");
}

.project-7 {
  background-image: url("/images/portfolio-mvg.png");
}

@media (max-width: 320px) {
  .newsocial li {
    margin: 0 13 !important;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .newsocial li {
    margin: 0 22 !important;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .newsocial li {
    margin: 0 30 !important;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 3em !important;
  }
}

.video-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#myVideo {
  position: absolute;
  right: 0;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.main-content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.scroll-container {
  position: relative;
  width: 24px;
  height: 24px;
  margin: auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.scroll-text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

footer {
  color: #fff;
  background-color: #424b54;
  font-family: "PT Sans", sans-serif;
  padding-top: 32px;
  padding-bottom: 30px;
}
.newsocial {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
.newsocial li {
  list-style: none;
  margin: 0 40px;
}
.newsocial li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}
.newsocial li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.newsocial li a .fa {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  color: #93a8ac;
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 32px;
}

.newsocial li:nth-child(1) a:hover .fa {
  color: #bc2a8d;
}
.newsocial li:nth-child(2) a:hover .fa {
  color: #dd4b39;
}
.newsocial li:nth-child(3) a:hover .fa {
  color: #007bb6;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 24px;
  z-index: 100;
}

.navbar a {
  float: right;
  display: block;
  color: #424b54;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
  font-size: 17px;
  margin-top: -10px;
  padding-top: 40px;
  font-weight: 500;
  height: 100px;
  opacity: 0.6;
  transition: 0.3s;
}

.navbar a:hover {
  background: #f8ca4d;
  color: #fff;
  opacity: 1;
}

/*RESPONSIVE MENU BUTTON CSS*/

.toggle-btn {
  position: fixed;
  margin: 1.4em;
  padding: 1em;
  width: 40px;
  height: 12px;
  right: 0;
  z-index: 200;
  cursor: pointer;
}

span.one {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #f8ca4d;
}

span.two {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #f8ca4d;
  margin-top: 12px;
}

.menu {
  z-index: 100;
  position: fixed;
  background: #101010;
  opacity: 0.7;
  height: 100vh;
  width: 100%;
  top: -100%;
}

.data {
  padding: 8em 0 0 2em;
  text-align: left;
}

.mobile-menu {
  list-style: none;
}

.mobile-menu li:first-child a {
  color: #f8ca4d;
  font-family: Poppins;
}

.mobile-menu {
  color: #fff;
  font-size: 28px;
  line-height: 2;
}

.mobile-menu li a {
  text-decoration: none;
  color: #fff;
  font-family: Raleway;
  text-transform: uppercase;
}

.mobile-menu li a:hover {
  color: #f8ca4d;
}

.mobile-menu-gray {
  color: grey;
  margin-top: 28px;
  font-family: Cinzel;
  font-size: 32px;
}

.swiper-container {
  height: calc(100vh - 120px);
  margin: 60px;
}

.swiper-slide {
  overflow: hidden;
}

.slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}
.slide-inner img {
  display: block;
  width: 100%;
  height: auto;
}
.copy {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  letter-spacing: 0.06em;
}

.port-container {
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
}
.port-container .image {
  display: block;
  width: 200px;
  height: 200px;
}
.port-overlay {
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  transition: 0.9s;
  background: rgba(248, 202, 77, 0.7);
}

.port-overlay a {
  color: rgba(255, 255, 255, 1);
  padding: 2px 22px;
  line-height: 40px;
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.port-overlay a:hover {
  border-color: rgba(51, 51, 51, 1);
  color: rgba(51, 51, 51, 1);
  background-color: #fff;
}

.port-container:hover .port-overlay {
  opacity: 1;
}
.port-overlay .text {
  color: white;
  font-family: Raleway;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.port-overlayFade {
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(248, 202, 77, 0.7);
}

.ul-roles {
  list-style-type: circle;
  line-height: 2em;
  font-family: Raleway;
}

.main-overlay-p {
  font-size: 21px;
  text-align: center;
  color: #eee;
  text-shadow: 0px 0px 3px #000;
  font-family: Raleway;
}

.main-overlay-h1 {
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 5em;
  color: #f8ca4d;
  text-shadow: 0px 0px 4px #222;
}

.main-overlay {
  position: relative;
  margin-top: 30vh;
}

.section-text {
  font-size: 20px;
  font-family: Raleway;
}
