.foot {
    position:relative;
    margin:0;
    padding:0;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
}
.foot li {
    list-style:none;
}
.foot li a { 
    position:relative;
    display:block;
    width:75px;
    height:75px;
    font-size:20px;
    text-align:center;
    line-height:80px;
    color:#262626;
    overflow:hidden;
    /*added*/
	padding: 20px;
    margin:15px;
    transform:rotate(45deg);
    transition:.2s;
    border:1px solid rgba(0,0,0,1);
}
.foot li a .fa{
    transform:rotate(-45deg);
    font-size: 3rem;
}
.foot li a:before {
    content:'';
    position:absolute;
    bottom:-100%;
    left:0;
    width:100%;
    height:100%;
    background:#262626;
    transition:.2s;
}
.foot li a:hover:before {
    bottom:0;
}
.foot li a:hover {
    color:#fff;
}
.foot li:nth-child(1) a:before
{
    background:#3b5998;
}
.foot li:nth-child(2) a:before
{
    background:#00aced;
}
.foot li:nth-child(3) a:before
{
    background:#dd4b39;
}
.foot li:nth-child(4) a:before
{
    background:#007bb6;
}
.foot li:nth-child(5) a:before
{
    background:#bc2a8d;
}


@media (max-width:420px){
	.foot li a {
		width: 50px;
		height: 50px;
		padding: 10px;
		margin: 10px;
	}
	
	#copy{
		margin-bottom: 64px;
	}
}


